h2 {
    margin: 0 0 50px 0;
}

.product-card {
    max-width: 150px;
}

mat-card:hover {
    transform: scale(1.07);
    cursor: pointer;
}

mat-card {
    transition: transform .75s;
}

.mat-dropdown {
    margin-left: 10px ;
}